.square {
    width: 16px;
    height: 16px;
    background-color: white;
    border: 1px black solid;
    margin: auto;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}


.flex-gameDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}